.root{ 
    background-color: #483C50;
    height: 85vh;
    border-radius: 20px;
}
.imgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}
.img{
    height: 500px;
    border-radius: 10px;
} 
.textCol{ 
    display: flex;
    align-items: center;
    flex-direction: column;
}
.textCol h1{
    color: white;
}
.textCol ul li{
    list-style: none;
    margin-top: 20px;
    color:white;
}
.textCol ul li span{
    font-size: 1.2em;
    font-weight: 500;
    margin-right: 8px;
}
.icon{
    font-size: 1.2em;
    color:white;
}