.root{ 
    background-color: #483C50;
    height: 85vh;
    border-radius: 20px;
    overflow-y: scroll;
}
.serachBar{
    height: 15vh;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
}
.text{
    display: flex;
    justify-content: center;
    color:white;
}