.form{
    position: relative;
}
.searchField{
    border:2px solid white;
    outline: none;
    border-radius: 5px;
    border-top-right-radius: 5px;
    width: 350px;
    height: 35px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: white;
    color:#132540;
    font-size: 15px;
}
.icon{
    font-size: 1.2em;
    color: #483C50;
}
.button{ 
    position:absolute;
    z-index: 1;
    margin-left: 310px;
    top: 5px;
    padding: 0px;  
    background-color: transparent;
    border: none;
}
