.root{ 
    color:white;
    background-color:#2C2133;
    width: 100%;
}
.rootResize{
    color:white;
    background-color:#2C2133;
    width: 200px;
}
.powerstats{
    margin-left: 5px;
}
.groups{ 
    display: flex;
}
.input{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
   
}
.input input{
    width: 350px;
    margin-bottom: 12px;
}
.inputResize{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.inputResize input{
    width: 70px;
    margin-bottom: 12px;
}
